{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block headerimg %}{% if page.headerimg %}{{ page.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}

{% block content %}

<div class="container bookinfo">
<p>
<em>Ta domača stran je pripravljena na podlagi izvršljivega učbenika <a href="https://github.com/jankoslavic/pypinm">Programiranje in numerične metode v ekosistemu Pythona</a></em>
</p>
<p align="center">
<a href="http://ladisk.si"><img align="center" style="padding-right:10px;" width="300" src="fig/ladisk.png"></a>
</p>
<p align="center">
<a href="http://ladisk.si/~slavic">izr. prof. dr. Janko Slavič</a>
</p>
</div>


<div class="container post">

    <article>
        <header>
            <h1>{{ page.title }}</h1>
            {% if page.date %}
                <time datetime="page.date.isoformat()" pubdate>{{ page.locale_date }}</time>
            {% endif %}
        </header>

        <div class="article_content">
            {{ page.content }}
        </div>

    </article>
</div>
{% endblock %}
