{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block headerimg %}{{ DEFAULT_HEADER_BG }}{% endblock %}

{% block content %}
<div class="container bookinfo">
<p>
<em>Ta domača stran je pripravljena na podlagi izvršljivega učbenika <a href="https://github.com/jankoslavic/pypinm">Programiranje in numerične metode v ekosistemu Pythona</a></em>
</p>
<p align="center">
<a href="http://ladisk.si"><img align="center" width="300" src="fig/ladisk.png"></a>
</p>
<p align="center">
<a href="http://ladisk.si/~slavic">izr. prof. dr. Janko Slavič</a>
</p>
</div>
<p align="center">
Trenutno aktualna predavanja: <a href="./nm2017.html">Numerične metode 2017/18</a>
</p>

<br>
<p align="center">
Kazalo:
</p>

<ol style="text-align:center; list-style-position:inside; margin:0 auto;">
<li><a href="./predavanje 01 - uvod v python.html">Uvod v Python</a></li>
<li><a href="./predavanje 02 - print, delo z datotekami, funkcije, moduli.html">Print, delo z datotekami, funkcije, moduli</a></li>
<li><a href="./predavanje 03 - moduli, numpy, matplotlib.html">Moduli, numpy, matplotlib</a></li>
<li><a href="./predavanje 04 - objektno programiranje, simbolno računanje.html">Objektno programiranje, simbolno računanje</a></li>
<li><a href="./predavanje 05 - uvod v numerične metode in sistemi linearnih enačb 1.html">Uvod v numerične metode in sistemi linearnih enačb 1</a></li>
<li><a href="./predavanje 06 - sistemi linearnih enačb 2.html">Sistemi linearnih enačb 2</a></li>
<li><a href="./predavanje 07 - interpolacija.html">Interpolacija</a></li>
<li><a href="./predavanje 08 - aproksimacija.html">Aproksimacija</a></li>
<li><a href="./predavanje 09 - reševanje enačb.html">Reševanje enačb</a></li>
<li><a href="./predavanje 10 - numerično odvajanje.html">Numerično odvajanje</a></li>
<li><a href="./predavanje 11 - numerično integriranje.html">Numerično integriranje</a></li>
<li><a href="./predavanje 12 - numerično reševanje diferencialnih enačb - začetni problem.html">Numerično reševanje diferencialnih enačb - začetni problem</a></li>
<li><a href="./predavanje 13 - numerično reševanje diferencialnih enačb - robni problem.html">Numerično reševanje diferencialnih enačb - robni problem</a></li>
<li><a href="./predavanje 14 - testiranje pravilnosti kode, uporabniški vmesnik.html">Testiranje pravilnosti kode, uporabniški vmesnik</a></li>
</ol>
<div class="container index">

  {% for article in articles_page.object_list %}
  <article>
    <header>
	<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <time datetime="" title="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
    </header>

    <div class="article_content">
      {{ article.summary }}
    </div>

    <div class="meta">
      <div>
        <a href="{{ SITEURL }}/{{ article.url }}" class="read_more">Read more &#8594;</a>
      </div>

      <div>
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
          {% endfor %}
      </div>

    </div>

  </article>
  <div class="separator"></div>
  {% endfor %}

  <nav class="pagination row">
    <div class="col-xs-6 left">
      {% if articles_page.has_next() %}
        <a class="prev" href="{{ SITEURL }}/{{ articles_next_page.url }}">&#8592; Past</a>
      {% endif %}
    </div>
    <div class="col-xs-6 right">
      {% if articles_page.has_previous() %}
        <a class="next" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Future &#8594;</a>
      {% endif %}
    </div>
  </nav>

  </div>

</div>

{% endblock %}
